<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro
        name="diana7_ros2_control"
        params="
        name
        prefix
        robot_ip
        robot_type
        use_fake_hardware
        fake_sensor_commands
        command_port:=1337
        state_port:=1338
        control_frequency:=1000">

        <ros2_control name="${name}" type="system">

            <xacro:unless value="${use_fake_hardware}">

                <hardware>
                    <plugin>franka_hardware/FrankaHardwareInterface</plugin>

                    <param name="version">1.0.0</param>
                    <param name="robot_ip">${robot_ip}</param>
                    <param name="robot_type">${robot_type}</param>
                    <param name="prefix">${prefix}</param>
                    <param name="use_fake_hardware"> ${use_fake_hardware}</param>
                    <param name="fake_sensor_commands"> ${fake_sensor_commands} </param>
                </hardware>

            </xacro:unless>

            <xacro:if value="${use_fake_hardware}">

                <hardware>
                    <plugin> mock_components/GenericSystem </plugin>

                    <param name="fake_sensor_commands">
                        ${fake_sensor_commands}
                    </param>

                </hardware>

            </xacro:if>

            <!-- Joint 1 -->
            <joint name="${prefix}diana7_joint1">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>

            <!-- Joint 2 -->
            <joint name="${prefix}diana7_joint2">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>

            <!-- Joint 3 -->
            <joint name="${prefix}diana7_joint3">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>

            <!-- Joint 4 -->
            <joint name="${prefix}diana7_joint4">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>

            <!-- Joint 5 -->
            <joint name="${prefix}diana7_joint5">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>

            <!-- Joint 6 -->
            <joint name="${prefix}diana7_joint6">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>

            <!-- Joint 7 -->
            <joint name="${prefix}diana7_joint7">

                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort" />

                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />

            </joint>
            <gpio name="vx">
                <command_interface name="cartesian_velocity" />
                <param name="index">0</param>
            </gpio>
            <gpio name="vy">
                <command_interface name="cartesian_velocity" />
                <param name="index">1</param>
            </gpio>
            <gpio name="vz">
                <command_interface name="cartesian_velocity" />
                <param name="index">2</param>
            </gpio>
            <gpio name="wx">
                <command_interface name="cartesian_velocity" />
                <param name="index">3</param>
            </gpio>
            <gpio name="wy">
                <command_interface name="cartesian_velocity" />
                <param name="index">4</param>
            </gpio>
            <gpio name="wz">
                <command_interface name="cartesian_velocity" />
                <param name="index">5</param>
            </gpio>
            <gpio name="0">
                <command_interface name="cartesian_pose_command" />
                <param name="index">0</param>
            </gpio>
            <gpio name="1">
                <command_interface name="cartesian_pose_command" />
                <param name="index">1</param>
            </gpio>
            <gpio name="2">
                <command_interface name="cartesian_pose_command" />
                <param name="index">2</param>
            </gpio>
            <gpio name="3">
                <command_interface name="cartesian_pose_command" />
                <param name="index">3</param>
            </gpio>
            <gpio name="4">
                <command_interface name="cartesian_pose_command" />
                <param name="index">4</param>
            </gpio>
            <gpio name="5">
                <command_interface name="cartesian_pose_command" />
                <param name="index">5</param>
            </gpio>
            <gpio name="6">
                <command_interface name="cartesian_pose_command" />
                <param name="index">6</param>
            </gpio>
            <gpio name="7">
                <command_interface name="cartesian_pose_command" />
                <param name="index">7</param>
            </gpio>
            <gpio name="8">
                <command_interface name="cartesian_pose_command" />
                <param name="index">8</param>
            </gpio>
            <gpio name="9">
                <command_interface name="cartesian_pose_command" />
                <param name="index">9</param>
            </gpio>
            <gpio name="10">
                <command_interface name="cartesian_pose_command" />
                <param name="index">10</param>
            </gpio>
            <gpio name="11">
                <command_interface name="cartesian_pose_command" />
                <param name="index">11</param>
            </gpio>
            <gpio name="12">
                <command_interface name="cartesian_pose_command" />
                <param name="index">12</param>
            </gpio>
            <gpio name="13">
                <command_interface name="cartesian_pose_command" />
                <param name="index">13</param>
            </gpio>
            <gpio name="14">
                <command_interface name="cartesian_pose_command" />
                <param name="index">14</param>
            </gpio>
            <gpio name="15">
                <command_interface name="cartesian_pose_command" />
                <param name="index">15</param>
            </gpio>
            <gpio name="joint_3_position">
                <command_interface name="elbow_command" />
                <param name="index">0</param>
            </gpio>
            <gpio name="joint_4_sign">
                <command_interface name="elbow_command" />
                <param name="index">1</param>
            </gpio>

            <sensor name="diana7_tcp">
                <state_interface name="force.x" />
                <state_interface name="force.y" />
                <state_interface name="force.z" />
                <state_interface name="torque.x" />
                <state_interface name="torque.y" />
                <state_interface name="torque.z" />
            </sensor>

        </ros2_control>

    </xacro:macro>

</robot>